html{
    width: 98vw;
    height: 100vh;
    font-size: 15px;
    
}

body {
    width: 100%;
    height: 100%;
}

.section1{

}

.main-nav{
    width: 100%;
    height: 100px;
    margin-top: 0.95%;
}

.inner-main-nav{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    width: 70%;
    height: 100%;

}

.main-nav-img{
    width: fit-content;
    margin-right: 11%;
}

.button-wrapper{
    width: flex;
    margin: auto;
    padding: auto;
}

.main-nav-buttons{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    padding-bottom: 2%;
    border: none;
    transition: 0.3s;
    width: auto;
    color: rgb(65,65,65);
    cursor: pointer;
    border: 1px transparent;
    font-family: 'Raleway', sans-serif;
}

.main-nav-buttons-book{
    width: 100%;
    padding: 20% 50% 20% 50%; 
    background-color: rgb(21,41,2);
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}
.main-nav-buttons-book:hover{
    background-color: rgb(30, 87, 30);

}

.active{
    color: green;
}

.main-nav-images{
    margin-left: 0.6%;
   
}

.inner-main-nav-images{
    display: flex;
    flex-direction: row;

}

.img-wrapper{
    margin-right: 0.15%;

}

.img{
    max-width: 100%;
    max-height: 100% ;
    height: auto;
    width: auto; 
}

.main-text{
    display: flex;
    flex-direction: column;
    font-size: 104%; 
    
}

.text-wrapper{
    text-align: center;
    line-height: 180%;
    letter-spacing: 0.05em;
    /* font: var(--font_2);   ask shlomi how to handle this problem */
    /* font: ("wfont_bc139a_de4870ef0f3e47a7acf777d6120d70d2,wf_de4870ef0f3e47a7acf777d61,orig_graphikextralight"); */
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: rgb(43,83,54);
    
}
.inner-main-text-h2{
    font-size: 113%;
    margin-bottom: 0.8%;
}

.inner-main-text{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 0%;
    animation: fadeIn 5s;
    /* -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s; */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
/* }    ask shlomi why do i need all the marked above */

.section2{

}